modules = ["nodejs-20"]

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
MONGODB_URI = "mongodb+srv://yogeshsingh0326_db_user:PXfFIMYpFUS2mw6l@cluster0.5u3nr2l.mongodb.net/?appName=Cluster0"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start server"

[[workflows.workflow]]
name = "Start server"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80
